h1 {
  text-align: center;
}

.App {
  margin: 0;
  height: 10px;
}

.doclist {
  margin-top: 3.5rem;
  overflow-y: scroll;
  height: 200px;
}

.daylist {
  margin-top: 3.5rem;
  overflow-y: scroll;
  height: 200px;
}

.projectcards {
  margin-top: 3.5rem;
}
